<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        <!-- a. 使用注解aop  -->
        <!-- a.使用注解需要扫描 -->
        <!-- spring 只需要扫描controller层 -->
        <context:component-scan base-package="com.ffms.Service"></context:component-scan>
        <!-- a.使用注解aop需要声明有效 -->
        <!--读取配置文件 -->
        <context:property-placeholder location="classpath:jdbc.properties"/>
        <!-- a.配置数据源  使用spring自带的连接池-->
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        	<property name="driverClassName" value="${jdbc.driver}"></property>
        	<property name="url" value="${jdbc.url}"></property>
        	<property name="username" value="${jdbc.username}"></property>
        	<property name="password" value="${jdbc.password}"></property>
        </bean>
        <!--a spring 整合mybatis 使用的是sqlSessionFactoryBean来配置 mybatis相关属性-->
        <bean id="factoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<!-- a.设置数据源 -->
        	<property name="dataSource" ref="dataSource"></property>
        	<!-- a.设置实体别名 -->
        	<property name="typeAliasesPackage" value="com/ffms/Entity"></property>
        	<!-- a.设置映射文件路径 -->
        	<property name="mapperLocations" value="classpath:com/ffms/Mapper/*.xml"></property>
        </bean>
        
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       		<property name="basePackage" value="com.ffms.Dao"></property>
       		<property name="sqlSessionFactoryBeanName" value="factoryBean"></property>
       	</bean>
        
        
       	
       	
        
        
</beans>